<nav class="nav" id="nav">
  <a href="#top" class="nav__brand">
    <span>Psychography</span>
  </a>
  <ul class="nav__links">
    <li><a href="#about" data-i18n="nav.about">Band</a></li>
    <li><a href="#members" data-i18n="nav.members">Members</a></li>
    <li><a href="#music" data-i18n="nav.music">Music</a></li>
    <li><a href="#video" data-i18n="nav.video">Video</a></li>
    <li><a href="#press" data-i18n="nav.press">Press</a></li>
    <li><a href="#shows" data-i18n="nav.shows">Shows</a></li>
  </ul>
  <div class="nav__right">
    <button type="button" class="nav__lang" id="langToggle" aria-label="Switch language" title="Switch to Spanish">
      <span class="nav__lang-track">
        <span class="nav__lang-opt" data-lang="en">EN</span>
        <span class="nav__lang-sep">/</span>
        <span class="nav__lang-opt" data-lang="es">ES</span>
      </span>
    </button>
    <a href="#contact" class="nav__cta" data-i18n="nav.contact">Contact</a>
  </div>
</nav>
